<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="YouTube Repeat" content="">
    <meta name="Irene Alvarado" content="">

    <title>YouTube on Repeat</title>

    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>

    <div class="masthead">
        <div class="container">
            <nav class="nav">
                <a class="nav-item" href="{{ url_for('index') }}">Home</a>
                <a class="nav-item" href="{{ url_for('watch') }}">Watch</a>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="header">
            <h1 class="title">YouTube on Repeat</h1>
            <p class="lead description">Coding Project</p>
            <hr>
        </div>

        {% block content %}{% endblock %}

    </div>
    <!-- /.container -->

    <footer class="footer">
            <p>Irene Alvarado</p>
    </footer>

    <script src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>

