<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="YouTube Repeat" content="">
    <meta name="Irene Alvarado" content="">

    <title>YouTube on Repeat</title>

    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/styles.css') }}" rel="stylesheet">

    <script src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/knockout.min.js') }}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

</head>

<body>

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="{{ url_for('index') }}">Home</a>
                <a class="blog-nav-item" href="{{ url_for('watch') }}">Watch</a>
            </nav>
        </div>
    </div>

    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">YouTube on Repeat</h1>
            <p class="lead blog-description">Coding Project</p>
            <hr>
        </div>

        {% block content %}{% endblock %}

    </div>
    <!-- /.container -->

    <footer class="blog-footer">
        <p>Irene Alvarado</p>
    </footer>

</body>
</html>

