<!-- extend base layout -->
{% extends "base.html" %} {% block content %}

<!--
    {% if user_id  %}
    <title>{{ user_id }} - Video</title>
    {% else %}
    <title>Welcome to YoutubeonRepeat</title>
    {% endif %}
    <h1>Hi, {{ user_id }} {{ vid_id  }}</h1>
    -->

<div class="row">

    <div class="col-sm-12 blog-main">

        <div class="blog-post">
            <div id="playerContainer">
                <div class="text-center">
                    <div id="player">
                    </div>
                </div>
                <h3 class="text-center text-primary" data-bind="text: 'Times you\'ve seen this video: '+ count(), visible: !errorLoadingPlayer()">
                      </h3>
                <h3 class="text-center text-danger" data-bind="visible: errorLoadingPlayer">Error loading video player. <br>Please try again with another video. </h3>
            </div>
        </div>
        <!-- /.blog-post -->


        <hr>
        <h4>Top Videos</h4>
        <div class="list-group" id="topVideos" data-bind="foreach: topVideoList">
            <a href="#" class="list-group-item" data-bind="click: $parent.redirectVideo">
                <div class="row vertical-align">
                  <div class="col-sm-3 pull-left">
                    <img src="" alt="thumb" data-bind="attr: {src: img}">
                  </div>
                  <div class="col-sm-9">
                      <h4 class="list-group-item-heading" data-bind="text: title"></h4>
                      <!--<p class="list-group-item-text" data-bind="text: count"></p>-->
                      <span class="badge" data-bind="text: count"></span>
                  </div>
                </div>
            </a>
        </div>

    </div>
    <!-- /.blog-main -->

    <!--
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>Top Videos</h4>
                    <p>Push your favorite video to the top of the list!</p>
                </div>
                div class="sidebar-module">
                    <div class="list-group" data-bind="foreach: topVideoList">
                        <a href="#" class="list-group-item" data-bind="text: title"></a>
                    </div>

                </div>

            </div>
            -->
    <!-- /.blog-sidebar -->

</div>
<script>
var vid_id = '{{ vid_id | safe }}';
var user_id = '{{ user_id | safe }}';
</script>
<script src="{{ url_for('.static', filename='app.js') }}"></script>

<!-- /.row -->

{% endblock %}
