<!-- extend base layout -->
{% extends "base.html" %} 

{% block content %}

<div class="row">

    <div class="col-sm-12 main">

        <div class="player-class">
            <div class="player-center" id="playerContainer">
                <div class="video-wrapper">
                    <div id="player">
                    </div>
                </div>
                <h3 class="text-center text-primary" data-bind="text: 'Times you\'ve seen this video: '+ count(), visible: !errorLoadingPlayer()">
                      </h3>
                <h3 class="text-center text-danger" data-bind="visible: errorLoadingPlayer">Error loading video player. <br>Please try again with another video. </h3>
            </div>
        </div>
        <!-- /.player -->


        <hr>
        <br>
        <h2>Top Videos</h2>
        <br>
        <div class="list-group" id="topVideos" data-bind="foreach: topVideoList">
            <a href="#" class="list-group-item" data-bind="click: $parent.redirectVideo">
                <div class="row vertical-align">
                  <div class="col-sm-3 pull-left hidden-sm hidden-xs">
                    <img src="" alt="thumb" data-bind="attr: {src: img}">
                  </div>
                  <div class="col-sm-9">
                      <h4 class="list-group-item-heading" data-bind="text: title"></h4>
                      <span class="badge" data-bind="text: count"></span>
                  </div>
                </div>
            </a>
        </div>

    </div>
    <!-- /.main -->

</div>
<script>
var vid_id = '{{ vid_id | safe }}';
var user_id = '{{ user_id | safe }}';
</script>
<script src="{{ url_for('.static', filename='app.js') }}"></script>

<!-- /.row -->

{% endblock %}
